<%= simple_form_for(@ownership) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">

  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary"  %>
  </div>
<% end %>
