<h1>Listing Processing Units</h1>

<table class="table table-condensed table-striped table-responsive table-bordered table-hover">
  <thead>
    <tr>
    	<th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @processing_units.each do |processing_unit| %>
      <tr>
      	<td><%= link_to processing_unit.name, processing_unit %></td>
        <td><center><%= link_to 'Edit', edit_processing_unit_path(processing_unit) %> | <%= link_to 'Destroy', processing_unit, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processing Unit', new_processing_unit_path %>
